<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
        <!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
	<mapper namespace="com.will.wang.demo.dao.CountryMapper" >

    <!--resultMap对应的是表与实体类的映射  - type 数据库表对应的实体类，别名或完整类名都可以-->
    <resultMap id="countryResultMap" type="com.will.wang.demo.model.Country" >
    	
        <!-- 结果集的主键 -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <!-- 普通的列  -column 是数据库中字段， property是实体类中字段-->
        <result column="token" property="token" jdbcType="VARCHAR" />
        
    </resultMap>


    <!--parameterType(输入类型)、resultType(输出类型)-->
    <select id="getCountryList" parameterType="String" resultType="com.will.wang.demo.model.Country">
        SELECT * FROM country WHERE 
        <choose>
        	<when test="name != '' and name != null">
        		name = #{name,jdbcType=VARCHAR}
        	</when>
        	<otherwise>
        		1=1
        	</otherwise>
        </choose>
    </select>

</mapper>